<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="free-hosting static site development">
  
  <!--     -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">


  <link href="/css/bootstrap-icons.css" rel="stylesheet">

  <link href="/css/all.min.css" rel="stylesheet">

  <link href="/css/fontawesome.min.css" rel="stylesheet">

  <link rel="stylesheet" href="/css/swiper-bundle.min.css">

  <link rel="stylesheet" href="/css/animate.min.css">
  <link rel="stylesheet" href="/css/jquery.fancybox.min.css">

  <link href="/css/boxicons.min.css" rel="stylesheet">

  <link rel="stylesheet" href="/css/preloader.css">
  <link rel="stylesheet" href="/css/style2.css">

  <link rel="icon" href="/img/sm-logo.svg" type="image/gif" sizes="20x20">
  

  <link rel="stylesheet" type="text/css" href="/css/demo-styling.css">


  {{ $title := print .Site.Title " | " .Title }}
  {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
  <title>{{ $title }}</title>
</head>