{{ define "main" }}
<div id="tea-content">
  <div class="tea-header">
    <h1>We help you tell your own story <i>online</i></h1>
    <div class="logo">
      <img src="/images/food-sm.jpg" srcset="/images/food-sm.jpg, /images/food.jpg"
        alt="fast website" role="presentation">
    </div>
    <h2>
      We build super-fast, <i>free-hosting</i> websites and develop <i>human-centric</i> webapps for small and micro businesses.
    </h2>
    <div class="bttns">
      <a href="#/why-us" class="bttn primary">Why us?</a>
      <a href="#/portfolio" class="bttn secondary">Our portfolio</a>
    </div>
  </div>
  <div class="resource-list">
    <ul>
      <li>
        <a href="#">Websites vs. Social Media</a>
        </li>
      <li>
        <a href="#">How to be different?</a>
      </li>
      <li>
        <a href="#">What we do</a>
      </li>
    </ul>
  </div>
</div>

{{ end }}