{{ define "main" }}
<div id="tea-content">
  <div class="tea-header">
    <h1>We help you tell your own story <i>online</i></h1>
    <div class="logo">
      <img src="/images/food-sm.jpg" srcset="/images/food-sm.jpg, /images/food.jpg"
        alt="fast website" role="presentation">
    </div>
    <h2>
      Chúng tôi giúp các doanh nghiệp nhỏ kể <i>câu chuyện độc đáo</i> của riêng mình <i>online</i> bằng cách xây dựng các website tốc độ cao, với chi phí cực thấp.
    </h2>
    <div class="bttns">
      <a href="#/why-us" class="bttn primary">Why us?</a>
      <a href="#/portfolio" class="bttn secondary">Our portfolio</a>
    </div>
  </div>
  <div class="resource-list">
    <ul>
      <li>
        <a href="#">Website vs. Facebook/Tiktok</a>
        </li>
      <li>
      </li>
      <li>
        <a href="#">Câu chuyện thương hiệu của bạn?</a>
      </li>
    </ul>
  </div>
</div>

{{ end }}